@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: "Poppins", sans-serif;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
}

.logo {
    height: 40px;
}

.navbar h2 {
    margin: 0;
    color: white;
}

.doctor-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.doctor-info .notification-icon {
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.doctor-info .profile {
    margin-right: 20px;
    font-size: 16px;
}

.doctor-info .profile-link {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    background-color: #0056b3;
    border-radius: 5px;
    font-size: 16px;
}

.doctor-info .profile-link:hover {
    background-color: #003f80;
}

.container {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    flex: 1;
}

h1, h2 {
    margin-bottom: 20px;
    color: #007BFF;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    width: 62%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-top: 10px;
}

.success {
    color: green;
    margin-top: 10px;
}

.previo {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    flex: 1;
}